@media (max-width: 767px) {
   .buttons__button {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

.buttons__button {
    color: teal;
    background: none;
    border: none;
    transition: 0.5s;
    padding: 20px;
}

.buttons__button:hover {
    color: hsl(180, 95%, 41%);
    cursor: pointer;
}

.buttons__button:disabled {
    color: #ccc
}